@model CLD.Models.QuestionViewModel
@{
    ViewData["Title"] = "QuestionView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://cdn.tiny.cloud/1/n81yrwymvhgop71oizp7853121lfyiuvlilb9woa3yt2y04i/tinymce/5/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#Content',
            plugins: 'codesample emoticons',
            height: 500,
            width: 1000,
            codesample_languages: [
                { text: 'HTML/XML', value: 'markup' },
                { text: 'JavaScript', value: 'javascript' },
                { text: 'CSS', value: 'css' },
                { text: 'PHP', value: 'php' },
                { text: 'Ruby', value: 'ruby' },
                { text: 'Python', value: 'python' },
                { text: 'Java', value: 'java' },
                { text: 'C', value: 'c' },
                { text: 'C#', value: 'csharp' },
                { text: 'C++', value: 'cpp' }
            ],
            toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table | fontsizeselect | codesample | emoticons |"
        });
    </script>
</head>
<h1>Create</h1>

<h4>Vraag</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question.Title" class="control-label"></label>
                <input asp-for="Question.Title" class="form-control" />
                <span asp-validation-for="Question.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question.Content" class="control-label"></label><br />
                <textarea id="Content" asp-for="Question.Content"></textarea>
                <span asp-validation-for="Question.Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<h1>Gestelde vragen</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Question.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question.isVisible)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Questions)
        {
            //if (item.IsBeantwoord == true)
            //{
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.Raw(item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isVisible)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.QuestionId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.QuestionId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.QuestionId">Delete</a>
                </td>
            </tr>
            //}
        }
    </tbody>
</table>
