@model CLD.Models.Answer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Consultant/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Answer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consultant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consultant.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerContent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AnswerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
