@model IEnumerable<CLD.Models.Answer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Consultant/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Consultant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerContent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Consultant.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerContent)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnswerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnswerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnswerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
